$light-bg: #f9fafb; // Light background color
$dark-bg: #1f2937; // Dark background color
$primary-color: #0946a7; // Primary button color
$text-color-light: #111827; // Light text color
$text-color-dark: #ffffff; // Dark text color
$border-color: #d1d5db; // Border color

.header-title {
    margin-left: 20px; // Adjust as needed for spacing
  }
  
  .header-container {
    display: flex;
    align-items: center; // Center vertically
    justify-content: space-between; // Space out title and search
    width: 100%; // Full width of the header
  }
  
  .search-container {
    flex-grow: 1; // Allow the search container to grow and take space
    margin: 0 20px; // Add horizontal margins
  }
  
  .search-container input {
    width: 40%; // Ensure the input takes full width of its container
  }
  .profile-settings-container {
    margin-left: 950px;
  }
  
  .profile-container {
    display: flex;
    align-items: center; // Center profile items vertically
    margin-left: 20px; // Space between search and profile
  }
  
  .profile-picture {
    width: 40px; // Adjust size as needed
    height: 40px; // Adjust size as needed
    border-radius: 50%; // Circular image
    margin-right: 8px; // Space between picture and text
  }
  .modal-container {
    z-index: 1000; // Ensure it appears on top of other elements
  }
  
  .modal {
    width: 90%;
    max-width: 400px; // Set a max-width for larger screens
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  button {
    padding: 0.5rem 1rem; // p-2
    border-radius: 0.375rem; // rounded-md
    color: $text-color-dark;

    &.bg-red-500 {
      background-color: #ef4444; // Red color for logout button
      margin-right: 0.5rem;
    }

    &.bg-blue-500 {
      background-color: $primary-color; // Blue color for close button
    }

    &:hover {
      opacity: 0.9; // Slightly transparent on hover
    }
  }
